
/*navbar styles*/
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 3; /*stack navbar on top of other elements*/
}

.navbar-nav:last-child {
    margin-right: 20px;
}

.navbar-brand {
    margin-left: 20px;
    font-size: 20px;
}

#navbarSupportedContent {
    justify-content: end;
    font-size: 20px;
}

#hide-links {
    display: none;
}

.user-status {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
/*******end of navbar styles******/

/*styles for the snapshot element*/
.snapshot-feed {
    display: flex;
    flex-direction: column;
    width: 75vw;
    border: 2px solid orange;
    margin: 30px auto;
    padding: 10px;
    margin: 15px 10px;
}

.snapshot-label {
    border: 2px solid red;
    width: fit-content;
}

figure {
    border: 2px solid green;
}

p {
    border: 2px solid blue;
}

.snapshot-text-group {/*apply spacing within grouped elements with this class*/
    padding: 10px;
}

.snapshot-image {
    width: 50em;
}

.snapshot-body {
    display: flex;
    padding: 10px;
}

.snapshot-header {
    display: flex;
    justify-content: space-around;
    width: 40vw;
}

.snapshot-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid gray;
    width: 60%;

}

.snapshot-footer {
    margin-top: 20px;
}
/*****end of snapshot element style declarations****/

/*timeline element styles*/
.current-event-date {
    border: 2px solid crimson;
}

/*target elements in .snapshot-timeline together and expand width to fit full container width*/
.timeline,
.timeline-current, .timeline-end {
    width: 100%;
}

#timeline-title {
    text-align: center;
}

#snapshot-date {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#timeline-direction-line {
    display: flex;
    height: 70%;
    width: 1em;
    margin: 0 auto;
    border-left: 2px solid #000;
    
}

img {
    width: 100%;
}

.timeline-current, figure {
    margin: 0 5px;
}
/*******end of timeline styles******/

/*sidebar styles*/
.sidebar {
    display: flex;
    flex-direction: column;
    border: 2px solid orange;
    height: 85vh;
    padding: 10px;
    width: 9vw;
    position: sticky; /*stick sidebar to the left of the body and allow it to flow with page content*/
    top: 7vh;
}

.sidebar-body, .sidebar-active {
    border: 2px solid darkcyan;
    margin: 10px 0;
    padding: 5px;
}

ul > .buddy::marker {
    color: green;
    font-size: 25px;
}

.buddies {
    list-style: none;
    padding: 0;
}
/********end of sidebar styles******/

#main-container {
    width: fit-content;
    height: 100%;
    border: 2px solid lightgreen;
    display: flex;
    padding: 10px;
    position: relative;
    /*position container along the body, next to the sidebar vertically*/
    bottom: 75vh; 
    left: 5vh;
}

.comments {
    border: 2px solid blue;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    border: 2px solid cyan;
    position: fixed;
    bottom: 0;
    width: 100%;
}
