#navbarSupportedContent {
    justify-content: end;
}

span {
    border: 2px solid red;
    width: fit-content;
}

figure {
    border: 2px solid green;
}

p {
    border: 2px solid blue;
}

.snapshot-feed {
    width: 85vw;
    border: 2px solid orange;
    margin: 0 auto;
    padding: 10px;
}

.snapshot-image {
    width: 50em;
}

.snapshot-body {
    display: flex;
    padding: 10px;
}

.snapshot-header {
    display: flex;
    justify-content: space-around;
    width: 40vw;
    justify-content: space-around;
}

.snapshot-timeline {
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
}

/*target elements in .snapshot-timeline together and expand width to fit full container width*/
.timeline, #timeline-direction-line,
.timeline-current, .timeline-end {
    width: 100%;
}

#timeline-title {
    text-align: center;
}

#snapshot-date {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#timeline-direction-line {
    display: flex;
    height:-webkit-fill-available;
}

hr {
    transform: rotate(90deg);
    width: 10em;
}

img {
    width: 100%;
}

.snapshot-feed {
    display: flex;
    flex-direction: column;
}
